.sidenav {
    height:100vh;
    position:fixed;
    top:0;
    left: 0;
    padding: 25px;
    background-color: #81d8cc;
}
.container {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 25px;
}

.avatar {
    width: 85%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display:block;
    object-fit: cover;
    
  }

.item10 {
    height: "10vh";
    padding-left: 20%;
  }

.item20 {
    height: "20vh";
   right: 0;
  }
.item70{
    height: "70vh";
    right: 0;
}

.layout{
  display: flex;
  height:100vh;
  justify-content:space-evenly;
  flex-direction: column;
  text-align: center;
  background-color: #81d8cc;
  padding: 25px;
}